.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.raleway{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}
.top-line-bg{
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
        top: 0;
        z-index: 1000;
}
.container {

    width: 1128px;


    margin: 0 auto;

    display: flex;

    justify-content: space-between;

    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    
    margin-right: 4px;

}


.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #2E2F42;
 
}
.navigation .menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation .menu li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    text-decoration: none;
transition: color 0.3s;
}
.navigation .menu li a:hover {
    color: #4D5AE5;}
.contact-info {
            display: flex;
            gap: 20px;}
.contact-info a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    text-decoration: none;
    transition: color 0.3s;
}
.contact-info a:hover {
    color: #4D5AE5;}

    .dark-bg{
        width: 1440px;
            height: 600px;
            top: 72px;
            background-color: #2E2F42;
        }
        .effective-solutions{
                position: absolute;
                width: 496px;
                height: 120px;
                top: 260px;
                left: 472px;
                    color: rgb(255, 255, 255);
                    font-family: Roboto;
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 60px;
                    letter-spacing: 2%;
                    text-align: center;
        }
[type='button'] {
position: relative;
    width: 169px;
    height: 56px;
    Top:428px; 
    Left: 636px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background: rgb(77, 90, 229);
}
button:hover {
background-color: #3C4ACF;
}